Frameworks/AgentsExample/.venv/
Frameworks/AgentsExample/__pycache__/
Frameworks/AgentsExample/agents4science/__pycache__/
Frameworks/AgentsExample/agents4science/roles/__pycache__/
Frameworks/AgentsExample/agents4science/tools/__pycache__/
Frameworks/AgentsLangChain/.venv/
Frameworks/AgentsLangChain/agents4science/__pycache__
Frameworks/AgentsLangChain/agents4science/tools/__pycache__
Frameworks/CharacterizeChemicals/__pycache__/
Frameworks/CharacterizeChemicals/characterize_chemicals/__pycache__/
Frameworks/CharacterizeChemicals/characterize_chemicals.egg-info/
Frameworks/CharacterizeChemicals/runinfo/
